<div class="flex flex-col gap-1 max-w-lg">
  <label class="font-bold text-shade-800">{{ title }}</label>

  <!-- Textarea -->
  <textarea
    *ngIf="type === 'description'"
    [attr.name]="name"
    [placeholder]="placeholder"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    class="w-full p-2 rounded-md bg-off-white placeholder-shade-200 text-shade-800 text-base min-h-16 max-h-64 resize-y shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] border-2 border-transparent focus:outline-none focus:border-shade-200"
  ></textarea>

  <!-- Password input -->
  <div
    *ngIf="type !== 'description' && inputType === 'password'"
    class="flex items-center w-full p-2 rounded-md bg-off-white shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] border-2 border-transparent focus-within:border-shade-200"
  >
    <input
      [attr.name]="name"
      [type]="currentInputType"
      [placeholder]="placeholder"
      [ngModel]="value"
      (ngModelChange)="onValueChange($event)"
      class="flex-1 bg-transparent placeholder-shade-200 text-shade-600 focus:outline-none"
    />
    <span
      class="flex justify-center cursor-pointer text-shade-600 hover:text-shade-800"
      (click)="togglePasswordVisibility()"
    >
      <iconify-icon
        [icon]="showPassword ? 'mdi:eye-off' : 'mdi:eye'"
      ></iconify-icon>
    </span>
  </div>

  <!-- Number input -->
  <input
    *ngIf="type !== 'description' && inputType === 'number'"
    [attr.name]="name"
    type="number"
    [placeholder]="placeholder"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    step="0.1"
    class="w-full p-2 rounded-md bg-off-white placeholder-shade-200 text-shade-800 shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] border-2 border-transparent focus:outline-none focus:border-shade-200"
  />

  <!-- Date input -->
  <input
    *ngIf="type !== 'description' && inputType === 'date'"
    [attr.name]="name"
    type="date"
    [placeholder]="placeholder"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    class="w-full p-2 rounded-md bg-off-white placeholder-shade-200 text-shade-800 shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] border-2 border-transparent focus:outline-none focus:border-shade-200"
  />

  <!-- Text input -->
  <input
    *ngIf="
      type !== 'description' &&
      !['password', 'number', 'date'].includes(inputType)
    "
    [attr.name]="name"
    type="text"
    [placeholder]="placeholder"
    [ngModel]="value"
    (ngModelChange)="onValueChange($event)"
    class="w-full p-2 rounded-md bg-off-white placeholder-shade-200 text-shade-800 shadow-[0px_4px_4px_0px_rgba(0,0,0,0.25)] border-2 border-transparent focus:outline-none focus:border-shade-200"
  />
</div>
