<section
  class="mx-auto w-full max-w-md bg-gray-100 rounded-lg shadow-md mt-16 p-8 flex flex-col gap-4"
>
  <h1 class="text-2xl font-bold text-shade-800 text-center">
    Register account
  </h1>

  <form
    (ngSubmit)="onSubmit()"
    #registerForm="ngForm"
    class="flex flex-col gap-6"
  >
    <p
      *ngIf="errorMessage"
      class="text-red-600 text-sm text-center font-medium"
    >
      {{ errorMessage }}
    </p>

    <app-inputfield
      title="Full name"
      name="full-name"
      placeholder="First and last name"
      inputType="text"
      [(value)]="user.fullName"
      required
    ></app-inputfield>

    <app-inputfield
      title="Email address"
      name="email"
      placeholder="example@gmail.com"
      inputType="email"
      [(value)]="user.email"
      required
    ></app-inputfield>

    <app-inputfield
      title="Password"
      name="password"
      placeholder="********"
      inputType="password"
      [(value)]="user.password"
      required
    ></app-inputfield>

    <app-button
      text="Create account"
      variant="submit-button"
      type="submit"
      class="w-full flex justify-center"
    ></app-button>

    <p class="text-center text-sm">
      Already have an account?
      <a
        routerLink="/signin"
        class="underline cursor-pointer text-shade-800 hover:scale-105 active:scale-95 transition-transform duration-300"
        >Sign in</a
      >
    </p>
  </form>
</section>
