<section class="flex flex-col gap-4">
  <h1 class="text-2xl font-bold text-shade-800">Home</h1>

  <div class="flex flex-wrap gap-4 justify-start">
    <app-task
      task="Create time report"
      id="create-report"
      link="/create-report"
    ></app-task>

    <app-task
      task="See my time reports"
      id="all-reports"
      link="/"
    ></app-task> <!--add route later -->

    <app-task
      task="Edit time report"
      id="update-report"
      link="/"
    ></app-task> <!--add route later -->

    <app-task
      task="Delete time report"
      id="delete-report"
      link="/"
    ></app-task> <!--add route later -->
  </div>
</section>
